body {
    background-color:rgba(255, 228, 196, 0.623);
    font-family: 'Roboto Serif', serif;
    font-weight: 500;
}

header {
    text-align: center;
    margin-bottom: 100px;
    background-color: rgb(233, 20, 66);
    border-radius: 3rem;
}

h2 {
    text-align: center;
}

h1, h2, h3 {
    font-family: 'Abril Fatface', cursive;
    font-weight: 600;
}

table {
    width: 100%;
}

thead {
    text-align: center;
    background-color: rgb(233, 20, 66);
}

tbody {
    background-color: rgba(175, 44, 72, 0.459);
}

table, tr, td, th {
    border: 1px black solid;
    border-collapse: collapse;
}

td, th {
    text-align: center;
    vertical-align: middle;
}

span.tag, span.code {
    background-color: white;
    text-align: center;
    font-family: 'Fira Code', serif;
    font-weight: 500;
}

.description {
    text-align: center;
    margin-bottom: 25px;
    border: 2px solid black;
    border-radius: 3rem;
    background-color: rgb(233, 20, 66);
}


footer {
    text-align: center;
    margin-top: 100px;
    background-color: rgb(233, 20, 66);
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 3rem;
}
